@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-violet-50 text-slate-800 selection:bg-violet-500 selection:text-white min-h-screen;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f5f3ff;
}
::-webkit-scrollbar-thumb {
  background: #c4b5fd;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a78bfa;
}
